/* Meta Box Table */
.cuztom_helper .cuztom_table { border: none; padding: 0; }
.cuztom_helper .cuztom_table th { font-weight: normal; text-align: left; width: 20%; padding: 5px 0; }
.cuztom_helper .cuztom_table th label { font-weight: bold; }
.cuztom_helper .cuztom_table th .description { font-size: 10px; font-style: italic; }

