
&.cuztom--post{
    margin-top: 12px;

    // Table
    .cuztom-main{
        border: 1px solid $table-border-color;
        background-color: $table-bg;
    }

    // Tabs
    tr.cuztom-tabs,
    tr.cuztom-accordion,
    tr.cuztom-bundle{
        > th,
        > td{
            border-top: 1px solid $table-border-color;
            border-bottom: 1px solid $table-border-color;
        }
    }

    // Label
    .cuztom-field__label{
        font-size: 13px;
    }

}