// Colors
$gray-lighter:          #fdfdfd;
$gray-light:            #f1f1f1;
$gray:                  #dfdfdf;
$gray-dark:             #ddd;


// Table
$table-bg:              $gray-lighter;
$table-border-color:    $gray;
$table-control-bg:      $gray-light;


// Bundle
$bundle-bg:             $gray-light;
$bundle-border-color:   $gray;


// Repeatable
$repeatable-border-color:   $gray;
$repeatable-control-bg:     $gray-light;


// Accordion
$accordion-bg:              $gray-light;
$accordion-border-color:    $gray;


// Tabs
$tabs-bg:                   $gray-light;
$tabs-border-color:         $gray-dark;
$tabs-hover-color:          #d54e21;