.cuztom {
  margin: 0;
  /* Table */
  /* General */
  /* Tabs */
  /* Accordion */
  /* Sortable */
  /* Bundle */
  /* Media */
  /* Misc */
  /* Responsive wysiwyg editor */
  /* Post meta */
}
.cuztom .cuztom-main-table {
  border: 1px solid #dfdfdf !important;
  background-color: #f9f9f9;
}
.cuztom .cuztom-table {
  margin: 0;
  width: 100%;
  border-spacing: 0;
}
.cuztom .cuztom-table tr.cuztom-tabs > th,
.cuztom .cuztom-table tr.cuztom-accordion > th,
.cuztom .cuztom-table tr.cuztom-tabs > td,
.cuztom .cuztom-table tr.cuztom-accordion > td {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
.cuztom .cuztom-table tr.cuztom-bundle > th,
.cuztom .cuztom-table tr.cuztom-bundle > td {
  border: none;
  padding: 10px;
}
.cuztom .cuztom-table td,
.cuztom .cuztom-table th {
  position: relative;
  padding: 15px 10px;
}
.cuztom .cuztom-table .cuztom-control {
  background: #f1f1f1;
  padding: 6px 10px;
}
.cuztom .cuztom-table .cuztom-control.cuztom-control-top > td {
  border-bottom: none;
}
.cuztom .cuztom-table .cuztom-control.cuztom-control-bottom > td {
  border-top: none;
}
.cuztom .cuztom-box-description {
  font-style: italic;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 15px;
}
.cuztom .cuztom-label {
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
}
.cuztom .cuztom-required {
  color: red;
}
.cuztom .cuztom-field-description,
.cuztom .cuztom-field-explanation {
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
  color: #999;
}
.cuztom .cuztom-field-explanation {
  display: block;
  float: left;
  margin-top: 2px;
}
.cuztom .cuztom-input {
  margin-right: 3px;
  display: inline-block;
  vertical-align: middle;
}
.cuztom .cuztom-input-text,
.cuztom .cuztom-textarea {
  width: 80% !important;
  min-height: 24px;
}
.cuztom .cuztom-ajax-save {
  display: inline-block;
  vertical-align: middle;
}
.cuztom .cuztom-tabs .ui-widget {
  padding: 0;
  border: none;
  background: none;
  font-family: sans-serif;
  box-shadow: 0 1px 0 #fff;
}
.cuztom .cuztom-tabs .ui-tabs-nav {
  padding: 0;
  background: none;
  border: 0;
  margin-bottom: -1px;
  font-size: 12px;
}
.cuztom .cuztom-tabs .ui-tabs-nav li {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  padding-top: 1px;
}
.cuztom .cuztom-tabs .ui-tabs-nav li.ui-state-active {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-bottom: none;
  padding-top: 0;
}
.cuztom .cuztom-tabs .ui-tabs-nav a {
  color: #21759b;
  padding: 5px 10px;
  outline: none;
}
.cuztom .cuztom-tabs .ui-tabs-nav a:hover {
  color: #d54e21;
}
.cuztom .cuztom-tabs .ui-tabs-panel {
  background: #f5f5f5;
  border: 1px solid #ddd;
  -webkit-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
  font-size: 12px;
  padding: 10px;
}
.cuztom .cuztom-accordion .ui-widget {
  border: 1px solid #ddd;
  box-shadow: 0 1px 0 #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
}
.cuztom .cuztom-accordion .ui-accordion-header {
  color: #444;
  background: #f1f1f1;
  border: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  cursor: move;
}
.cuztom .cuztom-accordion .ui-accordion-content {
  padding: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  border: none;
}
.cuztom .cuztom-sortable-item .cuztom-handle-sortable,
.cuztom .cuztom-sortable-item .cuztom-remove-sortable {
  display: inline-block;
  vertical-align: middle;
}
.cuztom .cuztom-sortable-item .cuztom-handle-sortable a,
.cuztom .cuztom-sortable-item .cuztom-remove-sortable a {
  height: 16px;
  width: 8px;
  background: url('../images/jquery-ui/ui-icons_454545_256x240.png') no-repeat;
  display: block;
  outline: none;
}
.cuztom .cuztom-sortable-item .cuztom-handle-sortable a {
  background-position: -132px -48px;
  cursor: move;
  margin-right: 10px;
}
.cuztom .cuztom-sortable-item .cuztom-remove-sortable a {
  background-position: -85px -128px;
  cursor: pointer;
  margin-left: 10px;
}
.cuztom .cuztom-bundle .cuztom-sortable {
  margin: 0;
}
.cuztom .cuztom-bundle .cuztom-sortable-item {
  border: 1px solid #dfdfdf;
  position: relative;
  padding: 10px 0;
  margin: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #fff;
  background: #f1f1f1;
}
.cuztom .cuztom-bundle .cuztom-sortable-item + .cuztom-sortable-item {
  margin-top: 10px;
}
.cuztom .cuztom-bundle .cuztom-sortable-item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.cuztom .cuztom-bundle .cuztom-fieldset {
  float: left;
  width: 90%;
}
.cuztom .cuztom-bundle .cuztom-handle-sortable,
.cuztom .cuztom-bundle .cuztom-remove-sortable {
  float: left;
  width: 3%;
  margin-left: 2%;
  min-height: 60px;
}
.cuztom .cuztom-bundle .cuztom-handle-sortable a,
.cuztom .cuztom-bundle .cuztom-remove-sortable a {
  top: 50%;
  margin: 0;
  margin-top: -8px;
  position: absolute;
}
.cuztom .cuztom-preview {
  display: block;
  margin: 10px 0 5px 0;
}
.cuztom .cuztom-remove-media {
  height: 8px;
  width: 8px;
  background: url('../images/jquery-ui/ui-icons_454545_256x240.png') -85px -133px no-repeat;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  margin-left: 10px;
}
.cuztom .cuztom-mime {
  padding: 5px 0 5px 25px;
  display: block;
  background: url('../images/mime/file.png') 0 2px no-repeat;
}
.cuztom .wp-picker-container {
  width: 100%;
}
.cuztom input[type="text"].wp-color-picker,
.cuztom .wp-picker-clear {
  width: auto;
}
.cuztom .iris-picker .iris-slider-offset {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
}
.cuztom .tmce-active table {
  max-width: none;
}
.cuztom .tmce-active table.mceLayout,
.cuztom table.mceToolbar {
  width: 100% !important;
  height: auto !important;
}
.cuztom .tmce-active span.mceEditor {
  display: block !important;
}
.cuztom .mceToolbar div,
.cuztom table.mceToolbar tr {
  white-space: normal;
}
.cuztom table.mceToolbar td {
  display: inline-block;
  white-space: normal;
}
.cuztom.cuztom-post-meta {
  margin-left: -10px;
  margin-right: -12px;
}
.cuztom.cuztom-post-meta .cuztom-tabs .ui-tabs-nav li.ui-state-active {
  background: #fff;
}
.cuztom.cuztom-post-meta .cuztom-tabs .ui-tabs-panel {
  background: #fff;
}
.cuztom.cuztom-post-meta .cuztom-bundle {
  background: #fff;
}
/* Term meta */
#addtag .cuztom {
  margin-left: -10px;
  margin-right: -10px;
}
/* Side meta box */
#side-sortables .cuztom-table .cuztom-th {
  padding: 0 0 10px 0;
  width: 30%;
}
#side-sortables .cuztom-table .cuztom-td {
  padding: 0 0 10px 0;
  width: 70%;
}
#side-sortables .cuztom-table .cuztom-description,
#side-sortables .cuztom-table .cuztom-explanation {
  display: none;
}
#side-sortables .cuztom-table .cuztom-input,
#side-sortables .cuztom-table .cuztom-checkbox-wrap,
#side-sortables .cuztom-table .cuztom-checkboxes-wrap {
  width: 100%;
}
#side-sortables .cuztom-table input[type="radio"].cuztom-input,
#side-sortables .cuztom-table input[type="checkbox"].cuztom-input {
  width: auto;
}
#side-sortables .cuztom-table .cuztom-colorpicker {
  width: 80%;
}
#side-sortables .cuztom-table .cuztom-ajax-save {
  clear: both;
}
#side-sortables .cuztom-table .cuztom-remove-media {
  margin-left: 0;
}
