.cuztom-media__preview{
    display: block;
    margin-top: 5px;
}

.cuztom-media__remove{
    font-weight: bold;
}

.cuztom-media__mime{
    display: block;
    padding: 5px 0 5px 25px;
    background: url('../images/mime/file.png') 0 2px no-repeat;
}
