
.cuztom-repeatable{
    border: 1px solid $repeatable-border-color;

    // List
    .cuztom-sortable__list{
        margin: 0;
    }

    // Item
    .cuztom-sortable__item{
        margin: 0;
        padding: 6px 10px;

        & + .cuztom-sortable-item{
            border-top: 1px solid $repeatable-border-color;
        }
    }
}
