.cuztom{ width: 100%; }
.cuztom .cuztom-box-description{ padding-bottom: 10px; border-bottom: 1px solid #dfdfdf; font-style: italic; }

/* Wraps */
.cuztom .padding-wrap{ padding: 5px 0 0 0; }
.cuztom .cuztom_posts_wrap{ max-height: 100px; overflow-y: scroll; overflow-x: hidden; }

/* Table */
.cuztom .cuztom-table{ width: 100%; margin-top: 0; }
.cuztom .cuztom-table th{ font-weight: normal; text-align: left; vertical-align: top; }
.cuztom .cuztom-table th label{ font-size: 12px; font-weight: bold; }
.cuztom .cuztom-table th .cuztom-description{ font-size: 10px; font-style: italic; font-weight: normal; }

/* Sortable */
.cuztom .cuztom-handle-sortable,
.cuztom .cuztom-remove-sortable{ display: inline-block; vertical-align: middle; height: 16px; width: 16px; }
.cuztom .cuztom-handle-sortable{ background: url('../images/jquery-ui/ui-icons_454545_256x240.png') -132px -48px no-repeat; cursor: move; }
.cuztom .cuztom-remove-sortable{ background: url('../images/jquery-ui/ui-icons_454545_256x240.png') -77px -128px no-repeat; cursor: pointer; }
.cuztom .cuztom-sortable-item fieldset{ display: inline-block; vertical-align: middle; border: 1px solid #ccc; padding: 10px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; width: 90%; }







.cuztom .cuztom-tabs{ padding-top: 10px; }




/* cuztom_wraps */


/* input_fields */
.cuztom textarea, .cuztom input[type="text"]{ width: 90%; display: inline-block; vertical-align: middle; }
.cuztom textarea{ height: 100px; }
.cuztom .cuztom_preview{ width: 100%; display: block; margin-top: 8px; }
.cuztom .cuztom_preview img{ max-width: 100%; }
.cuztom .mceContentBody, .cuztom .mceIframeContainer{ background: #fff !important; }
.cuztom .mceStatusbar{ width: 100% !important; padding-left: 0 !important; text-indent: 10px; }

/* repeatables */


/* mime types */
.cuztom_mime{ padding: 5px 0 5px 25px; height: 25px; display: block; background: url('../images/mime/file.png') 0 0 no-repeat; }