// Border radius
.border-radius(@radius: @border-radius-base) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
}

// Box shadow
.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow;
	box-shadow: @shadow;
}