
// Table
.cuztom-table{
    margin: 0;
    width: 100%;
    border-spacing: 0;

    td,
    th{
        position: relative;
        padding: 15px 10px;
    }
}

// Main
.cuztom-main{
    background-color: transparent;
}